*.js
!jest.config.js
!.jest/setEnvVars.js
!.eslintrc.js
*.d.ts
node_modules
res

# CDK asset staging directory
.cdk.staging
cdk.out
.idea/
.aws-sam/
coverage/
.env
web-identity-token
*.env
cdk.context.json

.vscode